{% extends 'tenant/tenant_dashboard.html' %}
{% block content %}
<div xmlns="http://www.w3.org/1999/html">
    <form method="get" class="form-inline search-form" style="margin-left:10px; ">
        {{propertys.form}}
        <button class="btn btn-primary" style="margin-left: 10px" type="submit">Search</button>

    </form>
</div>
<br>
<div class=" mt-4 ml-5">

    <div class="row  no-gutters">
        {% for i in data %}
        <div class="col-md-4 mb-4 ">
            <div class="card" style="width: 18rem;">
                <img src="{{i.image.url}}" class="card-img-top" alt="..."
                     style="width:18rem; height:12rem; image:cover ">

                <div class="card-body">
                    <div style="text-align: center;
                                vertical-align: middle;">
                        <span style="color:#1a0f3b;  font-size: xx-large">₹ {{i.price}}</span>
                        <br>

                        <span style="color:#1a0f3b;font-weight: bold; font-size: large">{{i.name}}</span>

                        <hr>
                    </div>
                    <div>

                        <span class="d-block mb-2 text-black-50"
                        >{{i.details}}</span
                        >
                        <span class="city d-block mb-3"
                              style="color:#1a0f3b; font-size:medium">Place : {{i.place}}</span>

                        <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">{{i.bed_no}} bed</span>
                        </span>
                            <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">{{i.bath_no}} bath</span>
                        </span>
                        </div>
                        <div>
                            {% if i.status_available == True %}
                            <p class="card-text">Status : Available </p>
                            {% else %}
                            <p class="card-text">Status : Sold Out </p>
                            {% endif %}
                        </div>
                        <div style="display:flex">
                            <a href="{% url 'add_to_wishlist' i.id %}" class="btn btn-primary"
                               style="width:16rem; background-color:#088F8F; margin-right:3px">Wishlist</a>
                            <a href="{% url 'buynow' i.id %}" class="btn btn-primary"
                               style="width:16rem; background-color:#5D3FD3">Buy now</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--            <div class="card g-0 no-gutters" style="width:80%; ">-->
            <!--                <img src="{{ i.image.url }}" class="card-img-top" alt="..." style=" width: 100%;-->
            <!--    height: 200px;-->
            <!--    object-fit: contain;">-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title text-primary">{{ i.name }}</h5>-->
            <!--                    <p class="card-text">{{ i.details }}</p>-->
            <!--                    <p class="card-text">Rs.{{ i.price }}</p>-->

            <!--                    <a href="{% url 'buynow' i.id %}" class="btn btn-warning">Buy Now</a>-->
            <!--                    <a href="{% url 'add_to_wishlist' i.id %}" class="btn btn-primary ">Wishlist</a>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}