{% extends 'tenant/tenant_dashboard.html' %}
{% block content %}
<h5>Cart</h5>

<table class="table">


    <thead>
    <tr>
        <th scope="col">Sl no.</th>
        <th>Property</th>
        <th scope="col">Property Type</th>
        <th scope="col">Price</th>
        <th scope="col">Delete</th>
        <th scope="col">BuyNow</th>

    </tr>
    </thead>
    <tbody>

    {% for i in data %}

    <tr>

        <th scope="row">{{forloop.counter}}</th>
        <td><img src="{{i.property.image.url}}" alt="..." style="width:12rem; height:12rem; -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;">
        </td>

        <td>{{i.property.name}}</td>
        <td>{{i.property.price}}</td>

        <td><a href="{% url 'deleteItems' i.id %}" class="btn btn-danger">X</a></td>
        <td>

                <a href="{% url 'wishlistbuy' i.id %}" class="btn btn-info">Buy Now</a>

        </td>
    </tr>
    {% endfor %}

    </tbody>

</table>
<hr>


{% endblock %}





