{% extends 'admin/admin_dashboard.html' %}
{% block content %}
<h5>Feedbacks</h5>
<br>
<table class="table table-info table-striped ">
  <thead>
    <tr>
      <th scope="col">Sl no.</th>
      <th scope="col">Feedback</th>
      <th scope="col">Date</th>
      <th scope="col">Admin Reply</th>
      <th scope="col">Reply</th>


    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.feedback}}</td>
      <td>{{i.date}}</td>
       <td>{{i.reply}}</td>
      <td><a href="{% url 'update' i.id %}" class="btn btn-info">Reply</a></td>

    </tr>
   {% endfor %}
     </tbody>

</table>
{% endblock %}





